HotelReservationSystemClient/src/conf/xml-resources/web-service-references/HolidayWebService/wsdl/localhost_8080/HolidayWebService/HolidayWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidPartnerInfoException" type="tns:InvalidPartnerInfoException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="ReservationUnavailableException" type="tns:ReservationUnavailableException"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="loginPartner" type="tns:loginPartner"/>

<xs:element name="loginPartnerResponse" type="tns:loginPartnerResponse"/>

<xs:element name="reserveRoom" type="tns:reserveRoom"/>

<xs:element name="reserveRoomResponse" type="tns:reserveRoomResponse"/>

<xs:element name="searchAvailableRoomTypes" type="tns:searchAvailableRoomTypes"/>

<xs:element name="searchAvailableRoomTypesResponse" type="tns:searchAvailableRoomTypesResponse"/>

<xs:element name="viewAllPartnerReservations" type="tns:viewAllPartnerReservations"/>

<xs:element name="viewAllPartnerReservationsResponse" type="tns:viewAllPartnerReservationsResponse"/>

<xs:element name="viewPartnerReservation" type="tns:viewPartnerReservation"/>

<xs:element name="viewPartnerReservationResponse" type="tns:viewPartnerReservationResponse"/>

<xs:complexType name="searchAvailableRoomTypes">
<xs:sequence>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRoomTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="available" type="xs:boolean"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nextHigherRoomType" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomCategory" type="tns:roomTypeEnum" minOccurs="0"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeEnum" type="tns:roomTypeEnum" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="applicableRoomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bookingByPartner" type="xs:boolean"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationRooms" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:roomRateTypeEnum" minOccurs="0"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="checkIn" type="xs:boolean"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="loggedIn" type="xs:boolean"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationRoom">
<xs:sequence>
<xs:element name="exceptionAllocationReport" type="tns:exceptionAllocationReport" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="reservationRoomId" type="xs:long" minOccurs="0"/>
<xs:element name="room" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exceptionAllocationReport">
<xs:sequence>
<xs:element name="exceptionType" type="tns:allocationExceptionTypeEnum" minOccurs="0"/>
<xs:element name="generatedAt" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reportId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationRoom" type="tns:reservationRoom" minOccurs="0"/>
<xs:element name="roomTypeRequested" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="isAllocated" type="xs:boolean"/>
<xs:element name="isAvailable" type="xs:boolean"/>
<xs:element name="reservationRooms" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationUnavailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewPartnerReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewPartnerReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoom">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartner">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidPartnerInfoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservations">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="allocationExceptionTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UPGRADE_AVAILABLE"/>
<xs:enumeration value="NO_ROOM_AVAILABLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="DELUXE"/>
<xs:enumeration value="PREMIER"/>
<xs:enumeration value="FAMILY"/>
<xs:enumeration value="JUNIOR"/>
<xs:enumeration value="GRAND"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>