HotelReservationSystemClient/src/conf/xml-resources/web-service-references/HolidayWebService_1/wsdl/localhost_8080/HolidayWebService/HolidayWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayWebService/HolidayWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllPartnerReservations">
<part name="parameters" element="tns:viewAllPartnerReservations"/>
</message>
<message name="viewAllPartnerReservationsResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsResponse"/>
</message>
<message name="loginPartner">
<part name="parameters" element="tns:loginPartner"/>
</message>
<message name="loginPartnerResponse">
<part name="parameters" element="tns:loginPartnerResponse"/>
</message>
<message name="InvalidPartnerInfoException">
<part name="fault" element="tns:InvalidPartnerInfoException"/>
</message>
<message name="searchAvailableRoomTypes">
<part name="parameters" element="tns:searchAvailableRoomTypes"/>
</message>
<message name="searchAvailableRoomTypesResponse">
<part name="parameters" element="tns:searchAvailableRoomTypesResponse"/>
</message>
<message name="ReservationUnavailableException">
<part name="fault" element="tns:ReservationUnavailableException"/>
</message>
<message name="reserveRoom">
<part name="parameters" element="tns:reserveRoom"/>
</message>
<message name="reserveRoomResponse">
<part name="parameters" element="tns:reserveRoomResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="viewPartnerReservation">
<part name="parameters" element="tns:viewPartnerReservation"/>
</message>
<message name="viewPartnerReservationResponse">
<part name="parameters" element="tns:viewPartnerReservationResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="calculateTotalCost">
<part name="parameters" element="tns:calculateTotalCost"/>
</message>
<message name="calculateTotalCostResponse">
<part name="parameters" element="tns:calculateTotalCostResponse"/>
</message>
<portType name="HolidayWebService">
<operation name="viewAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/viewAllPartnerReservationsRequest" message="tns:viewAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/viewAllPartnerReservationsResponse" message="tns:viewAllPartnerReservationsResponse"/>
</operation>
<operation name="loginPartner">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/loginPartnerRequest" message="tns:loginPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/loginPartnerResponse" message="tns:loginPartnerResponse"/>
<fault message="tns:InvalidPartnerInfoException" name="InvalidPartnerInfoException" wsam:Action="http://ws.session.ejb/HolidayWebService/loginPartner/Fault/InvalidPartnerInfoException"/>
</operation>
<operation name="searchAvailableRoomTypes">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/searchAvailableRoomTypesRequest" message="tns:searchAvailableRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/searchAvailableRoomTypesResponse" message="tns:searchAvailableRoomTypesResponse"/>
<fault message="tns:ReservationUnavailableException" name="ReservationUnavailableException" wsam:Action="http://ws.session.ejb/HolidayWebService/searchAvailableRoomTypes/Fault/ReservationUnavailableException"/>
</operation>
<operation name="reserveRoom">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/reserveRoomRequest" message="tns:reserveRoom"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/reserveRoomResponse" message="tns:reserveRoomResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/reserveRoom/Fault/RoomTypeNotFoundException"/>
<fault message="tns:ReservationUnavailableException" name="ReservationUnavailableException" wsam:Action="http://ws.session.ejb/HolidayWebService/reserveRoom/Fault/ReservationUnavailableException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/reserveRoom/Fault/PartnerNotFoundException"/>
</operation>
<operation name="viewPartnerReservation">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/viewPartnerReservationRequest" message="tns:viewPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/viewPartnerReservationResponse" message="tns:viewPartnerReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/viewPartnerReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="calculateTotalCost">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/calculateTotalCostRequest" message="tns:calculateTotalCost"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/calculateTotalCostResponse" message="tns:calculateTotalCostResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/calculateTotalCost/Fault/RoomTypeNotFoundException"/>
<fault message="tns:ReservationUnavailableException" name="ReservationUnavailableException" wsam:Action="http://ws.session.ejb/HolidayWebService/calculateTotalCost/Fault/ReservationUnavailableException"/>
</operation>
</portType>
<binding name="HolidayWebServicePortBinding" type="tns:HolidayWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidPartnerInfoException">
<soap:fault name="InvalidPartnerInfoException" use="literal"/>
</fault>
</operation>
<operation name="searchAvailableRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationUnavailableException">
<soap:fault name="ReservationUnavailableException" use="literal"/>
</fault>
</operation>
<operation name="reserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="ReservationUnavailableException">
<soap:fault name="ReservationUnavailableException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateTotalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="ReservationUnavailableException">
<soap:fault name="ReservationUnavailableException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayWebService">
<port name="HolidayWebServicePort" binding="tns:HolidayWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayWebService/HolidayWebService"/>
</port>
</service>
</definitions>